.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: orange;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    text-decoration: underline;
    font-style: bold;
    font-size: 30px;
}

body{
    background: linear-gradient(180deg, rgba(33,37,41,1) 42%, rgba(255,165,0,1) 66%);
    color:orange;
}

